<h2>New Task</h2>

<p>
  <b>Team:</b> <%= @team %>
</p>

<p>
  <b>Title:</b> <%= @title %>
</p>

<p>
  <b>Body:</b> <%= @body %>
</p>

<p>
  <b>Complete By:</b> <%= @complete_by %>
</p>

<p>
  Click here to be taken to the task -> <%= task_url(@task) %>
</p>
