<div class="row">
  <div class="large-4 large-centered columns">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
      <%= form_errors_for resource, :email %></div>

      <div><%= f.label :name %><br />
      <%= f.text_field :name %>
      <%= form_errors_for resource, :name %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %>
      <%= form_errors_for resource, :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
      <%= form_errors_for resource, :password_confirmation %></div>

      <div><%= f.submit "Sign up", class: "button radius" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
